@define-color background_frosted rgba(36, 36, 36, 0.85); 
@define-color accent             #ffffff;               
@define-color text_color         rgba(255, 255, 255, 0.9);

* {
    font-family: 'FOT-Rodin Pro DB', sans-serif;
    font-size: 14px;
    outline: none;
    border: none;
}

#window {
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    background-color: @background_frosted;
}

#outer-box {    
    margin: 2px;
    padding: 10px;
    background-color: transparent;
}

#input {
    margin: 0px 0px 8px 0px;
    padding: 4px 8px;
    border-radius: 6px;
    color: @accent;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#inner-box {
    margin: 0px;
    padding: 2px;
}

#entry {
    padding: 4px 8px;
    margin: 1px 0px;
    border-radius: 4px;
}

#entry:selected {
    background-color: rgba(255, 255, 255, 0.15);
}

#entry:selected #text {
    color: #ffffff;
    font-weight: bold;
}

/* Hide icons properly */
#img, #icon, image {
    opacity: 0;
}

#text {
    margin: 2px;
    color: @text_color;
}